#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Line_2 {
  rotation: 130.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Line_1 {
  rotation: 47.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-060e440d-c30d-4084-9f89-d602a98f0c6a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}