#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Image_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-394c1296-0988-489a-9ba1-e2f3537bb191 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}