#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Image_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78) ;
  filter: alpha(opacity=78) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Image_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Image_15 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=47) ;
  filter: alpha(opacity=47) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 #s-Image_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3ebe5f68-e3f4-4ba7-bc81-4de372b0a1c1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}