#s-e3031503-c6e0-4b91-9799-e40499663174 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 > #alignmentBox {
  position: relative;
  max-width: 1024px;
  max-height: 768px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 {
  position: absolute;
  width: 1022px;
  height: 552px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 > .paddingLayer {
  height: 552px;
  width: 1022px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + 0px);
  background-color: #FFFFFF;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #EFEFEF;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 {
  position: absolute;
  width: 1023px;
  height: 57px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 > .paddingLayer {
  height: 55px;
  width: 1023px;
  padding-top: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_2 > svg {
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_2 {
  position: absolute;
  width: 28px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_2 > img, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_2 > svg {
  height: 25px;
  width: 28px;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 span {
  color: #828F95;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #828F95;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #333333;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 {
  position: absolute;
  width: 1030px;
  height: 284px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 > .paddingLayer {
  height: 284px;
  width: 1030px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_47 span#rtr-s-Text_47_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_48 span#rtr-s-Text_48_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_49 span#rtr-s-Text_49_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_50 span#rtr-s-Text_50_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_51 span#rtr-s-Text_51_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_52 span#rtr-s-Text_52_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_53 span#rtr-s-Text_53_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_54 span#rtr-s-Text_54_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_55 span#rtr-s-Text_55_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_56 span#rtr-s-Text_56_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_57 span#rtr-s-Text_57_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 span {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_58 span#rtr-s-Text_58_0 {
  color: #CCCCCC;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_29 {
  position: absolute;
  width: 315px;
  height: 52px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_29 > img, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_29 > svg {
  height: 52px;
  width: 315px;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_31 {
  position: absolute;
  width: 136px;
  height: 145px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_31 > img, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_31 > svg {
  height: 145px;
  width: 136px;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: rgba(243,243,243,0.28);
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 {
  position: absolute;
  width: 508px;
  height: 286px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 > .paddingLayer {
  height: 286px;
  width: 508px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_18 span#rtr-s-Rectangle_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Group_1 {
  position: absolute;
  width: 338px;
  height: 53px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Line_1 marker {
  fill: #F3F4F6;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Line_1 {
  position: absolute;
  width: 238px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Line_1 {
  width: 238px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #F3F4F6;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 53px;
  height: 53px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 53px;
  height: 53px;
  position: absolute;
  overflow: hidden;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 53px;
  height: 53px;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Ellipse_1 {
  width: 53px;
  height: 53px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #EFEFEF;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 > .shapert-clipping {
  width: 53px;
  height: 53px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 53px;
  height: 53px;
  position: absolute;
  overflow: hidden;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  width: 53px;
  height: 53px;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Ellipse_3 {
  width: 53px;
  height: 53px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #EFEFEF;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 > .shapert-clipping {
  width: 53px;
  height: 53px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 53px;
  height: 53px;
  position: absolute;
  overflow: hidden;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 .content {
  text-shadow: none;
  width: 53px;
  height: 53px;
  line-height: 30px;
  font-size: 16.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  width: 53px;
  height: 53px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Ellipse_4 {
  width: 53px;
  height: 53px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #4B96EC;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #4B96EC;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 {
  position: absolute;
  width: 224px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  cursor: pointer;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 11.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 > .paddingLayer {
  height: 42px;
  width: 224px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Rectangle_20 span#rtr-s-Rectangle_20_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 {
  position: absolute;
  width: 276px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_1 > svg {
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_1 {
  position: absolute;
  width: 21px;
  height: 21px;
  opacity: 0.78;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_1 > img, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Image_1 > svg {
  height: 21px;
  width: 21px;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 {
  position: absolute;
  width: auto;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 > .clipping, #s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 > .paddingLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 span {
  color: #828F95;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #828F95;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-e3031503-c6e0-4b91-9799-e40499663174 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}